@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

body {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #252525;
}

button,
input {
    font-family: "Noto Sans KR", sans-serif;
    color: #252525;
}
